name = "pending-checkmarks"
main = "src/index.ts"
compatibility_date = "2022-11-16"
node_compat = true

kv_namespaces = [
  { binding = "NONCES", id = "NONCES_ID", preview_id = "NONCES_PREVIEW_ID" },
  { binding = "SESSIONS", id = "SESSIONS_ID", preview_id = "SESSIONS_PREVIEW_ID" }
]

[vars]
PROVIDER_ID = "<VALUE>"
CHECKMARK_CONTRACT_ADDRESS = "<VALUE>"
PAYMENT_CONTRACT_ADDRESS = "<VALUE>"

# Secrets:
# - WALLET_MNEMONIC
# - SYNAPS_CLIENT_ID
# - SYNAPS_API_KEY
# - SYNAPS_WEBHOOK_SECRET
